@keyframes fade {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes loading {
  50% {
    transform: rotate(200deg);
  }
  75% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: white;
}

input,
button,
textarea,
select {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: normal;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
.header-left {
  width: 50%;
  padding-left: 20px;
}

.header-right {
  width: 50%;
  padding-right: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  color: #777777;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.filter {
  display: flex;
  justify-content: right;
}
.filter-item {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  padding: 0px 15px;
}
.filter-item a {
  color: #747474;
}
.filter-item a:hover {
  color: #1a1919;
}
.filter .feature1 a {
  color: #00c3ff;
  font-weight: bold;
}

.flex {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.flex-item {
  min-width: 400px;
  height: 200px;
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.flex-item__header {
  font-size: 18px;
  font-weight: 500;
  color: #383535;
  padding: 25px;
}
.flex-item--large {
  min-width: 530px;
}
.flex-item__result {
  width: 340px;
  margin: 0 auto;
}

/* ------------------------ */
.arrow {
  border: solid #747474;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}
.down {
  transform: rotate(45deg);
  transform: translateX(2em);
  -webkit-transform: rotate(45deg);
}
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
}
.dropdown__select {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: gray;
  line-height: 1.4;
  color: #747474;
  font-weight: 300;
  padding: 0px 15px;
}
.dropdown__select:hover {
  border-width: 2px;
  line-height: 1.4;
}
.dropdown__list {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  color: #747474;
}
.dropdown__list:hover {
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
}
.dropdown__list::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.dropdown__item {
  cursor: pointer;
  padding: 6px;
  font-size: 18px;
  color: #747474;
  font-weight: 300;
}
.dropdown__item:hover {
  border-radius: 5px;
  background-color: #e9eafc;
  color: #7e71d6;
  transition: all 0.1s ease;
}
.dropdown__item a {
  color: #747474;
}
/* ------------------------ */

.flex-item__result .dropdown {
  position: relative;
}
.flex-item__result .dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
}
.flex-item__result .dropdown__select {
  cursor: pointer;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: gray;
}
.flex-item__result .dropdown__select:hover {
  border-color: #7e71d6;
  box-shadow: 0 0 0 3px #9489da36;
  border-width: 2px;
  padding: 19px;
}
.flex-item__result .dropdown__list {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}
.flex-item__result .dropdown__list:hover {
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
}
.flex-item__result .dropdown__list::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.flex-item__result .dropdown__item {
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}
.flex-item__result .dropdown__item:hover {
  border-radius: 5px;
  background-color: #e9eafc;
  color: #7e71d6;
  transition: all 0.1s ease;
}
.flex-item__result .circle-loading {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 166, 0, 0.637);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.flex-item__result .circle-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  animation: fade 1s forwards infinite linear;
}
.flex-item__result .circles {
  text-align: center;
  animation: loading 1.2s infinite;
}
.flex-item__result .circle-item {
  width: 30px;
  height: 30px;
  border: 3px solid lightcoral;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
}
.flex-item__result .circle-item:first-child {
  border-color: yellow;
}
.flex-item__footer {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.flex-item__footer-button {
  z-index: -10;
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-left: 10px;
}
.flex-item__footer-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.flexbox {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.flexbox-header {
  font-size: 18px;
  font-weight: 500;
  color: #383535;
  padding: 25px;
}
.flexbox-result .work {
  padding: 20px;
}
.flexbox-result .work__heading {
  color: #1a0a3b;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
}
.flexbox-result .work__heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background-color: #00c899;
  margin-left: 2px;
}
.flexbox-result .work__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.flexbox-result .work-tab {
  display: flex;
}
.flexbox-result .work-tab__item {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #00c899;
  border-radius: 20px 0 20px 20px;
}
.flexbox-result .work-tab__item:not(:first-child) {
  margin-left: 10px;
}
.flexbox-result .work-tab__item:hover {
  color: white;
  background-color: #00c899;
  transition: all 0.2s ease;
}
.flexbox-result .work__all {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  color: #00c899;
  background-color: rgba(0, 200, 153, 0.25);
}
.flexbox-result .work__list {
  display: flex;
  margin-left: -15px;
}
.flexbox-result .work__item {
  width: calc(25% - 15px);
  border-radius: 6px;
  overflow: hidden;
  margin-left: 15px;
}
.flexbox-result .work__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.flexbox-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.flexbox-footer-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.flexbox-footer-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #919191;
}
.footer span {
  color: #ffb3bf;
}

/* Form Wrap*/
.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}
.form-header {
  font-size: 18px;
  padding: 25px;
}
.form-resuilt {
  display: flex;
  justify-content: space-between;
}

/* Registration Form */
.registration-form {
  width: calc(30% - 25px);
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  border-radius: 10px;
}
.registration-form-header {
  font-size: 18px;
  font-weight: 500;
  color: #383535;
  padding: 25px;
}
.registration-form-resuilt {
  border-radius: 10px;
  padding: 25px;
}
.registration-form-resuilt__title {
  font-size: 15px;
  color: #5e5e5e;
  padding: 20px 0 5px;
}
.registration-form-resuilt__input {
  display: block;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 15px;
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}
.registration-form-resuilt__input:focus {
  box-shadow: 0 0 0 2px rgba(255, 192, 203, 0.274);
  background-color: white;
  border-color: pink;
}
.registration-form-resuilt__input::placeholder {
  color: #a0a0a0;
}
.registration-form-resuilt__button {
  margin: 45px 0;
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
  color: #f3808acb;
  width: 38%;
}
.registration-form-resuilt__button--color {
  background-color: #f3808acb;
  color: white;
  width: calc(60%);
}
.registration-form-resuilt__footer {
  width: 100%;
  display: flex;
  align-items: center;
}
.registration-form-resuilt__footer .license {
  margin-left: 15px;
  color: #a0a0a0;
  line-height: 20px;
}
.registration-form-resuilt__footer .license span {
  color: #f3808acb;
  text-decoration: underline;
}
.registration-form-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.registration-form-footer .button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.registration-form-footer .button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.login-form {
  width: calc(70% - 25px);
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  border-radius: 10px;
}
.login-form-header {
  font-size: 18px;
  font-weight: 500;
  color: #383535;
  padding: 25px;
}
.login-form-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.login-form-footer .button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.login-form-footer .button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.loginForm {
  display: flex;
  padding: 40px;
  margin-left: -20px;
}
.loginForm-item {
  width: 49%;
  margin-left: 20px;
}
.login-from-left {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.login-from-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginForm__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
}
.loginForm__content {
  margin-bottom: 20px;
}
.loginForm__label {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 3px;
}
.loginForm__text-input {
  background-color: rgba(128, 128, 128, 0.048);
  border-radius: 50px;
  border: none;
  border: 1px solid #a39fb8;
  margin: 12px 0;
  width: 90%;
  font-size: 14px;
  padding: 15px 20px;
  outline: none;
  transition: all 0.25s ease;
}
.loginForm__text-input::placeholder {
  color: #a39fb8;
}
.loginForm__text-input:focus {
  background-color: white;
  border-color: black;
  transition: all 0.25s ease;
}
.loginForm__support {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginForm__support a {
  color: #5138ee;
}
.loginForm__support a:hover {
  color: #30218f;
}
.loginForm__checkbox-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.loginForm__checkbox-wrap .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #a39fb8;
  position: relative;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 10px;
}
.loginForm__checkbox-wrap .checkbox-input {
  display: none;
}
.loginForm__checkbox-wrap .checkbox-input:checked + .checkbox {
  transition: all 0.3s ease;
  border-color: #5138ee;
  background-color: #5138ee;
  color: white;
}
.loginForm__checkbox-wrap label:last-child {
  padding-left: 8px;
  cursor: pointer;
}
.loginForm__footer {
  margin-top: 20px;
}
.loginForm__button {
  width: 100%;
  background-color: #5138ee;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
.loginForm__button:hover {
  background-color: #3a2aa1;
  transition: background-color 0.4s ease;
}

.table-wrap {
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  border-radius: 10px;
  margin-top: 50px;
}
.table-wrap-header {
  font-size: 18px;
  padding: 25px;
}
.table-wrap-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.table-wrap-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.table-wrap-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.table {
  border-radius: 8px;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.table table {
  background-color: transparent;
  width: 100%;
}
.table table thead tr {
  background-color: #f1f1f5;
}
.table table thead tr th {
  padding: 12px 24px;
  text-transform: uppercase;
  color: #a2a2a3a2;
  font-size: 12px;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
}
.table table tbody tr td:last-child {
  padding: 12px 20px;
}
.table table tbody tr td {
  font-size: 14px;
  color: #8b8b91;
  vertical-align: middle;
  text-align: left;
  padding: 18px 26px;
  white-space: nowrap;
}
.table table tbody tr td .profile,
.table table tbody tr td .brand {
  display: flex;
  align-items: center;
}
.table table tbody tr td .profile img,
.table table tbody tr td .brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}
.table table tbody tr td .profile p,
.table table tbody tr td .brand p {
  margin-left: 10px;
  display: inline-block;
}
.table table tbody tr td .brand img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.table table tbody tr td .button {
  display: flex;
  align-items: center;
}
.table table tbody tr td .button a:first-child {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f1f1f5;
  color: #898993;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
}
.table table tbody tr td .button a:first-child:hover {
  background-color: #e4e4e4;
}
.table table tbody tr td .button a:last-child {
  display: inline-block;
  color: #a6a6ae;
}
.table table tbody tr td .button a:last-child:visited {
  color: #a6a6ae;
}
.table table tbody tr td .button a:last-child i {
  display: inline-block;
  margin-left: 14px;
  font-size: 18px;
}

.table2 {
  border-radius: 14px;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.table2 table {
  width: 100%;
  text-align: right;
  border-collapse: separate;
}
.table2 table thead {
  background-color: #e7e7e777;
  text-transform: uppercase;
  color: #777780;
  font-size: 12px;
  font-weight: bold;
}
.table2 table thead tr th {
  vertical-align: middle;
  padding: 14px 10px;
  white-space: nowrap;
}
.table2 table thead tr th .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table2 table thead tr th .checkbox #checkboxId {
  display: none;
}
.table2 table thead tr th .checkbox #checkboxId:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table2 table thead tr th .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table2 table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.table2 table thead tr th:nth-child(2) {
  text-align: left;
}
.table2 table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.table2 table thead tr th:not(:first-child, :nth-child(2)) {
  padding: 0 20px;
}
.table2 table tbody tr:hover td {
  border-color: #a9f3da;
}
.table2 table tbody tr {
  border-radius: 20px;
}
.table2 table tbody tr td:nth-child(2) {
  text-align: left;
}
.table2 table tbody tr td {
  padding: 14px 10px;
  vertical-align: middle;
  border: 2px solid transparent;
  border-style: solid none;
  transition: all 0.25s ease;
  font-size: 14px;
  white-space: nowrap;
}
.table2 table tbody tr td .product-image {
  display: flex;
  align-items: center;
}
.table2 table tbody tr td .product-image img {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.table2 table tbody tr td .product-image p {
  margin-left: 14px;
}
.table2 table tbody tr td .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table2 table tbody tr td .checkbox #checkboxId1,
.table2 table tbody tr td .checkbox #checkboxId2,
.table2 table tbody tr td .checkbox #checkboxId3,
.table2 table tbody tr td .checkbox #checkboxId4,
.table2 table tbody tr td .checkbox #checkboxId5,
.table2 table tbody tr td .checkbox #checkboxId6,
.table2 table tbody tr td .checkbox #checkboxId7,
.table2 table tbody tr td .checkbox #checkboxId8,
.table2 table tbody tr td .checkbox #checkboxId9,
.table2 table tbody tr td .checkbox #checkboxId10 {
  display: none;
}
.table2 table tbody tr td .checkbox #checkboxId1:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId2:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId3:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId4:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId5:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId6:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId7:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId8:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId9:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId10:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table2 table tbody tr td .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table2 table tbody tr td:not(:nth-child(2)) {
  color: #8e8e95;
}
.table2 table tbody tr td:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-left-style: solid;
}
.table2 table tbody tr td:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-right-style: solid;
}
.table2 table tbody tr td:last-child i {
  cursor: pointer;
}
.table2 table tbody tr td:not(:first-child, :nth-child(2)) {
  padding: 0 20px;
}

.table3 {
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 30px;
  max-width: 1200px;
  padding: 20px;
  background-color: #fafafb;
  margin-left: auto;
  margin-right: auto;
}
.table3 table {
  border-spacing: 0 10px;
  width: 100%;
  text-align: left;
  border-collapse: separate;
  background-color: #fafafb;
}
.table3 table thead {
  background-color: #e7e7e777;
  color: #777780;
  font-size: 12px;
  font-weight: bold;
}
.table3 table thead tr th {
  vertical-align: middle;
  padding: 14px 10px;
  white-space: nowrap;
}
.table3 table thead tr th .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table3 table thead tr th .checkbox #checkboxId0 {
  display: none;
}
.table3 table thead tr th .checkbox #checkboxId0:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table3 table thead tr th .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table3 table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.table3 table thead tr th:nth-child(2) {
  text-align: left;
}
.table3 table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.table3 table thead tr th:not(:first-child, :nth-child(2)) {
  padding: 0 20px;
}
.table3 table tbody tr:hover td {
  background-color: rgba(216, 216, 216, 0.425);
}
.table3 table tbody tr {
  background-color: white;
  border-radius: 20px;
}
.table3 table tbody tr td:nth-child(2) {
  text-align: left;
}
.table3 table tbody tr td {
  padding: 12px 10px;
  vertical-align: middle;
  transition: all 0.25s ease;
  font-size: 14px;
  white-space: nowrap;
}
.table3 table tbody tr td .product-image {
  display: flex;
  align-items: center;
}
.table3 table tbody tr td .product-image img {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.table3 table tbody tr td .product-image p {
  margin-left: 14px;
}
.table3 table tbody tr td .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table3 table tbody tr td .checkbox #checkboxId11,
.table3 table tbody tr td .checkbox #checkboxId12,
.table3 table tbody tr td .checkbox #checkboxId13,
.table3 table tbody tr td .checkbox #checkboxId14,
.table3 table tbody tr td .checkbox #checkboxId15,
.table3 table tbody tr td .checkbox #checkboxId16,
.table3 table tbody tr td .checkbox #checkboxId17,
.table3 table tbody tr td .checkbox #checkboxId18,
.table3 table tbody tr td .checkbox #checkboxId19,
.table3 table tbody tr td .checkbox #checkboxId20 {
  display: none;
}
.table3 table tbody tr td .checkbox #checkboxId11:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId12:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId13:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId14:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId15:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId16:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId17:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId18:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId19:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId20:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table3 table tbody tr td .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table3 table tbody tr td .file {
  display: flex;
  align-items: center;
  justify-content: left;
}
.table3 table tbody tr td .file-type {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
}
.table3 table tbody tr td .file-type--blue {
  background-color: #37b8ff;
}
.table3 table tbody tr td .file-type--green {
  background-color: #39d992;
}
.table3 table tbody tr td .file-type--orange {
  background-color: #f99031;
}
.table3 table tbody tr td .file p {
  padding-left: 10px;
}
.table3 table tbody tr td .action {
  display: flex;
  justify-content: space-between;
}
.table3 table tbody tr td .action-download,
.table3 table tbody tr td .action-trash {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  color: red;
  background-color: rgba(255, 192, 203, 0.247);
}
.table3 table tbody tr td .action-download {
  color: white;
  background-color: #2663ffe0;
  border-color: #2663ffe0;
}
.table3 table tbody tr td:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.table3 table tbody tr td:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.table3 table tbody tr td:last-child i {
  cursor: pointer;
}
.table3 table tbody tr td:nth-child(6) {
  text-decoration: underline;
}
.table3 table tbody tr td:not(:first-child, :nth-child(2)) {
  padding: 0 24px;
}

@media screen and (max-width: 767px) {
  .table,
  .table2,
  .table3 {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  h1 {
    margin: 20px auto;
  }

  .table::-webkit-scrollbar,
  .table2::-webkit-scrollbar,
  .table3::-webkit-scrollbar {
    display: none;
  }

  .table table thead tr th,
  .table table tbody tr td,
  .table2 table thead tr th,
  .table2 table tbody tr td,
  .table3 table thead tr th,
  .table3 table tbody tr td {
    padding: 8px;
  }
}
/*   Top Trending Now End    */
.flex-practive {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.trending-wrap {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 800px;
  border-radius: 10px;
}
.trending-wrap-header {
  font-size: 18px;
  padding: 25px;
}
.trending-wrap-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.trending-wrap-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.trending-wrap-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.trending {
  padding: 0 30px;
}
.trending-item {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px;
  border-radius: 24px;
  cursor: pointer;
  background-color: white;
}
.trending-item:hover {
  transition: box-shadow 0.25s ease;
  box-shadow: rgba(120, 149, 177, 0.5) 0px 0px 40px;
}
.trending-item:hover .action {
  opacity: 1;
  visibility: visible;
}
.trending-image {
  width: 290px;
  height: 204px;
  margin: auto 0;
  border-radius: 24px;
  object-fit: cover;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.trending-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trending-rank {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 18px;
  color: #3f8cff;
}
.trending-content {
  width: 100%;
  position: relative;
  padding: 22px 95px 22px 24px;
}
.trending .content-header {
  display: flex;
  align-items: center;
}
.trending .live {
  display: inline-flex;
  background-color: #f8744c;
  padding: 2px 10px;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}
.trending .live-icon {
  font-size: 20px;
  margin-right: 6px;
}
.trending .category {
  margin-left: 8px;
  display: inline-block;
  padding: 5px 16px;
  color: #5f75ee;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  position: relative;
}
.trending .category::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0.2;
}
.trending .content-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.333;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.trending .content-status {
  display: flex;
  align-items: center;
}
.trending .status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808191;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.41;
}
.trending .status:last-child {
  margin-left: 16px;
}
.trending .status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  margin-right: 8px;
}
.trending .status--blue {
  background-color: #1a49c6;
}
.trending .status--green {
  background-color: #7fba79;
}
.trending .content-user {
  display: flex;
  justify-content: left;
  margin-top: 12px;
}
.trending .user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.trending .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trending .user-main {
  margin-left: 12px;
}
.trending .user-name-wrap {
  display: flex;
}
.trending .user-name {
  font-size: 13px;
  font-weight: 500;
  color: #11142d;
  line-height: 1.428;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.trending .confirm {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7fba79;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
  font-weight: normal;
}
.trending .user-game {
  color: #808191;
  font-size: 12px;
  line-height: 1.41;
}
.trending .action {
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #6c5dd3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 80px;
  padding: 8px;
}
.trending .action-item {
  flex: 1;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  transition: all 0.25s ease;
}
.trending .action-item:hover {
  background-color: #cfc8ff;
}

/*   Top Trending Now End    */
/*   Recent Notification Start    */
.notification {
  max-width: 590px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.notification-header {
  font-size: 18px;
  padding: 25px;
}
.notification-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.notification-footer-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.notification-footer-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}
.notification-list {
  padding: 0 30px;
  margin: 10px 0 20px 0;
}
.notification-item {
  display: flex;
  padding: 32px 16px;
  border-radius: 12px;
  cursor: pointer;
  align-items: flex-start;
}
.notification-item:hover {
  transition: all 0.4s ease;
  background-color: #e4e4e46b;
}
.notification-avatar {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
}
.notification-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.notification-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notification-status {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}
.notification-status--online {
  background-color: #3f8cff;
}
.notification-status--shopping {
  background-color: #7fba79;
}
.notification-status--liked {
  background-color: #f9744c;
}
.notification-user {
  padding: 0 24px;
  width: 100%;
}
.notification-name {
  font-size: 16px;
  margin: 0 0 9px;
  font-weight: 600;
  line-height: 19px;
}
.notification-caption {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.38;
  color: #808191;
  margin-bottom: 16px;
}
.notification-caption span {
  font-size: 13px;
  font-weight: 600;
  color: #5f75ee;
  line-height: 1.38;
  margin: 0 4px;
  cursor: pointer;
}
.notification-comment {
  font-size: 14px;
  color: #808191;
  line-height: 1.7;
  margin-bottom: 16px;
}
.notification-action {
  margin-left: -16px;
  display: flex;
}
.notification-button {
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  color: #a4a5a6;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a4a5a6;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-left: 16px;
  transition: color 0.2s ease;
}
.notification-button:hover {
  color: rgba(0, 0, 0, 0.651);
}
.notification-image {
  border-radius: 10px;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
}
.notification-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notification-image--puple {
  background-color: #cfc8ff;
  color: #cfc8ff;
}
.notification-image--orange {
  background-color: #fbce74;
  color: #fbce74;
}
.notification-image--pink {
  background-color: #faa2c0;
  color: #faa2c0;
}
.notification-image::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 10px;
  bottom: 0;
  left: 50%;
  background-color: currentColor;
  opacity: 0.5;
  transform: translate(-50%, 70%);
  border-radius: inherit;
  z-index: 0;
}

/*   Recent Notification End    */
/*      Jobs List Start       */
.job-wrapper {
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  border-radius: 10px;
  margin-top: 50px;
}
.job-wrapper-header {
  font-size: 18px;
  padding: 25px;
}
.job-wrapper-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.job-wrapper-footer-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.job-wrapper-footer-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.job-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #f3f3f3;
}

.wraper {
  max-width: 100%;
  margin: 0 auto;
}

.job-list {
  --gap: 30px;
  --columns: 3;
  display: flex;
  margin-left: calc(-1 * var(--gap));
  margin-bottom: calc(-1 * var(--gap));
  justify-content: space-between;
}
.job-list-item {
  width: calc(100% / var(--columns) - var(--gap));
  margin-left: var(--gap);
  margin-bottom: var(--gap);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.job-list-logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.267) 0px 0px 4px;
}
.job-list-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.job-list-title {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.job-list-detail {
  color: #8b8b8b;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.7;
}
.job-list-tag {
  margin: 20px 0 0px 0;
  display: flex;
  align-items: stretch;
}
.job-list .tag-item {
  padding: 8px 10px;
  display: inline-block;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #8d8d8d;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}
.job-list .tag-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.2;
}
.job-list-friends {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin-left: 8px;
}
.job-list .friends-item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
}
.job-list .friends-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.job-list .friends-item:first-child {
  z-index: 4;
}
.job-list .friends-item:nth-child(2) {
  z-index: 3;
}
.job-list .friends-item:nth-child(3) {
  z-index: 2;
}
.job-list .friends-item:nth-child(4) {
  z-index: 1;
  border: 1px solid #bbb;
}
.job-list .friends-count {
  margin-left: 10px;
  color: #aaa;
  font-size: 14px;
}
.job-list-action {
  display: flex;
  justify-content: space-between;
}
.job-list .action-button {
  width: calc(100% / 2 - 10px);
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.job-list .action-button--blue {
  background-color: #2664ff;
  color: white;
}
.job-list .action-button--blue:hover {
  background-color: #2050c9;
}
.job-list .action-button--gray {
  background-color: #f1f1f5;
  color: #81818c;
}
.job-list .action-button--gray:hover {
  background-color: #dedee0;
}

/*      Jobs List End       */

/*# sourceMappingURL=style.css.map */
