@keyframes fade {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes loading {
  50% {
    transform: rotate(200deg);
  }
  75% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  padding-top: 50px;
  padding-bottom: 25px;
}
.header__logo {
  display: block;
  margin-bottom: 20px;
}
.header__logo img {
  display: block;
  margin: 0 auto;
}
.header__title {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  color: #777777;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  padding: 0px 15px;
}
.filter-item a {
  color: #747474;
}
.filter-item a:hover {
  color: #1a1919;
}
.filter .feature1 a {
  color: #00c3ff;
  font-weight: bold;
}

.flex {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-item {
  min-width: 400px;
  height: 300px;
  margin-bottom: 50px;
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.flex-item__header {
  font-size: 18px;
  font-weight: 500;
  color: #383535;
  padding: 25px;
}
.flex-item--large {
  min-width: 530px;
}
.flex-item__result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-item__result .dropdown {
  margin: auto auto;
  width: 400px;
  position: relative;
}
.flex-item__result .dropdown__select {
  padding: 20px 25px 20px 40px;
  background-color: #42a7fe;
  color: white;
  display: flex;
  cursor: pointer;
}
.flex-item__result .dropdown__text {
  margin-left: 35px;
}
.flex-item__result .dropdown__caret {
  margin-left: auto;
}
.flex-item__result .dropdown__item {
  padding: 20px 25px 20px 40px;
  display: flex;
  color: #b3bbce;
  transition: all 0.2s linear;
  cursor: pointer;
  border-left: 3px solid transparent;
}
.flex-item__result .dropdown__item:not(:last-child) {
  border-bottom: 1px solid #aaa;
}
.flex-item__result .dropdown__item:hover {
  color: #74809d;
  border-left-color: #42a7fe;
}
.flex-item__result .dropdown__list {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 30px;
  top: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}
.flex-item__result .dropdown__list::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  right: 20px;
  transform: translateY(-45%) rotate(45deg);
}
.flex-item__result .dropdown__list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: transparent;
  transform: translateY(-100%);
}
.flex-item__result .dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
}
.flex-item__result .circle-loading {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.flex-item__result .circle-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  animation: fade 1s forwards infinite linear;
}
.flex-item__result .circles {
  text-align: center;
  animation: loading 1.2s infinite;
}
.flex-item__result .circle-item {
  width: 30px;
  height: 30px;
  border: 3px solid lightcoral;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
}
.flex-item__result .circle-item:first-child {
  border-color: yellow;
}
.flex-item__footer {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.flex-item__footer-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-left: 10px;
}
.flex-item__footer-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.flexbox {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  border-radius: 10px;
}
.flexbox-header {
  font-size: 18px;
  font-weight: 500;
  color: #383535;
  padding: 25px;
}
.flexbox-result .work {
  padding: 20px;
}
.flexbox-result .work__heading {
  color: #1a0a3b;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
}
.flexbox-result .work__heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background-color: #00c899;
  margin-left: 2px;
}
.flexbox-result .work__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.flexbox-result .work-tab {
  display: flex;
}
.flexbox-result .work-tab__item {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #00c899;
  border-radius: 20px 0 20px 20px;
}
.flexbox-result .work-tab__item:not(:first-child) {
  margin-left: 10px;
}
.flexbox-result .work-tab__item:hover {
  color: white;
  background-color: #00c899;
  transition: all 0.2s ease;
}
.flexbox-result .work__all {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  color: #00c899;
  background-color: rgba(0, 200, 153, 0.25);
}
.flexbox-result .work__list {
  display: flex;
  margin-left: -15px;
}
.flexbox-result .work__item {
  width: calc(25% - 15px);
  border-radius: 6px;
  overflow: hidden;
  margin-left: 15px;
}
.flexbox-result .work__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.flexbox-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.flexbox-footer-button {
  font-size: 14px;
  background-color: #bbbbbbbe;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
}
.flexbox-footer-button:hover {
  transition: all 0.25s linear;
  background-color: #494949b0;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #919191;
}
.footer span {
  color: #ffb3bf;
}

/*# sourceMappingURL=style.css.map */
